* {
  box-sizing: border-box;
}

body {
  background-color: #3a7f46;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#board {
  background-color: #3a7f46;
  border: 1vw brown solid;
}

.gh-link {
  margin: 6px 6px 8px;
  width: 70px;
  font-size: 12px;
  line-height: 16px;
}

.w-full {
  width: 100%;
}
.flex {
  display: flex
}
.justify-center {
  justify-content: center;
}

.max-w-sm {
  max-width: 24rem /* 384px */;
}